services:
  # Navidrome
  # Doesn't use Cloudflare Tunnel
  navidrome:
    image: deluan/navidrome:latest
    container_name: tms-navidrome
    ports:
      - "${TMS_NAVI_EXTERNAL_PORT}:4533"
    restart: unless-stopped
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info  
      ND_SESSIONTIMEOUT: 24h
    volumes:
      - "${TMS_NAVI_DATA}:/data"
      - "${TMS_NAVI_MUSIC}:/music:ro"
    env_file:
      - secrets/stack.env
    networks:
      - default

  qbittorrent:
    container_name: tms-qbittorrent
    image: lscr.io/linuxserver/qbittorrent:latest
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=1026
      - PGID=100
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${TMS_QBIT_CONFIG_FOLDER}:/config
      - ${TMS_QBIT_DOWNLOAD_FOLDER}:/downloads
      - ${TMS_QBIT_DOWNLOAD_MOVIES}:/movies
      - ${TMS_QBIT_DOWNLOAD_TV}:/tv
      - ${TMS_QBIT_DOWNLOAD_BOOKS}:/books
    restart: always
    env_file:
      - secrets/stack.env
    network_mode: "container:tms-gluetun"

  gluetun:
    container_name: tms-gluetun
    image: qmcgaw/gluetun:latest
    environment:
      - VPN_SERVICE_PROVIDER=${TMS_GLUETUN_PROVIDER}
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${TMS_GLUETUN_OPENVPN_USER}
      - OPENVPN_PASSWORD=${TMS_GLUETUN_OPENVPN_PASSWORD}
      - SERVER_REGIONS=${TMS_GLUETUN_COUNTRY}
      - SHADOWSOCKS=on
      - SHADOWSOCKS_PASSWORD=${TMS_GLUETUN_SHADOWSOCKS_PASSWORD}
      - HTTPPROXY=on
      - HTTPPROXY_USER=${TMS_GLUETUN_HTTP_PROXY_USER}
      - HTTPPROXY_PASSWORD=${TMS_GLUETUN_HTTP_PROXY_PASSWORD}
      - TZ=Europe/Madrid
    cap_add:
      - NET_ADMIN
    ports:
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      - 8888:8888/tcp # HTTP Proxy
      - 8888:8888/udp # HTTP Proxy
      - 8081:8080/tcp # HTTP Qbittorrent
      - 6881:6881 # HTTP Qbittorrent (Torrenting port)
    volumes:
      - ${TMS_GLUETUN_CONFIG}:/gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
    env_file:
      - secrets/stack.env
    networks:
      - cloudflared_network
  
  # Jellyfin
  # Doesn't use Cloudflare Tunnel
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: tms-jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - $TMS_JELLYFIN_CONFIG:/config
      - $TMS_JELLYFIN_TV:/data/tvshows
      - $TMS_JELLYFIN_MOVIES:/data/movies
    ports:
      - 8097:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
    restart: unless-stopped
    env_file:
      - secrets/stack.env
    networks:
      - default

networks:
  cloudflared_network:
    external: true
